@import "./variables";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: $dark-brown;
  background-color: #e7e7e7;
}

h1,
h2 {
  font-size: 24px;
  margin: $spacing-xxs 0;
  font-weight: 700;
}

input {
  font-size: 0.8rem;
  border: none;
  box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.2);
  border-radius: 6px;
  padding: $spacing-xs;
  min-height: 37px;
}

a {
  cursor: pointer;
  color: $blue-accent;

  &:hover {
    color: $blue-dark;
  }

  h1 {
    flex: 1;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $blue-accent;
  color: $white;
  padding: $spacing-3xs $spacing-med;
  box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.2);

  button {
    padding: 0 $spacing-xs;
  }
}

.header--content {
  display: flex;
  height: 10vh;
  > * {
    display: flex;
    align-items: center;
  }
}

main {
  padding: $spacing-med $spacing-med;
  min-width: 300px;
  max-width: 100vw;
  margin: 0 auto;
}

.reading-list-container {
  padding: 0;
  width: 400px;
  height: 100vh;

  h2 {
    position: relative;
    color: $white;
    background-color: $gray80;
    margin: 0;
    padding: 0.75rem;
    text-align: center;
  }

  button {
    position: absolute;
    top: $spacing-xxs;
    right: $spacing-xxs;
    padding: 0;
    min-width: 36px;
  }
}

.reading-list-content {
  padding: $spacing-xxs;
}

.empty {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  font-size: 1.5rem;
  color: $gray40;
}

form {
  margin-bottom: $spacing-xs;
}

.full-width {
  width: 100%;
}
.book {
  border: 1px solid silver;
  margin-top: 0.5rem;
}
.book--container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.book--card {
  display: flex;
  align-items: flex-start;
  padding: $spacing-sm;
  margin: $spacing-xxs 0;
  border-radius: 6px;
  min-height: 250px;
  max-height: 400px;
  overflow: auto;
  box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.2);
  background-color: #fdfbfb;
}
.book--cover {
  border-radius: 3px;
}
.book--info {
  padding-left: $spacing-sm;
  width: 100%;
}
.book--title {
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
    color: $dark-brown;
    font-weight: 700;
  }

  svg:hover {
    cursor: pointer;
  }
}
.book--author {
  color: $sea-green;
  font-weight: 600;
  margin: $spacing-xxs 0;
}
.book--publisher {
  color: grey;
  font-weight: 400;
  margin: $spacing-xxs 0;
}
.book--description {
  max-height: 120px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: grey;
  padding-right: $spacing-xxs;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: lightgrey;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 2px solid grey;
  }
}

.search-params {
  flex-grow: 3;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0;

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
  }
}
.layout--main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.layout--sidebar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0 $spacing-sm;
  border-radius: 6px;
  box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.2);
  background-color: #fdfbfb;
  margin-left: $spacing-sm;
  min-height: 80vh;
  overflow: hidden;

  @media (max-width: 1000px) {
    width: 100%;
    min-height: 150px;
    margin-left: unset;
    margin-bottom: $spacing-sm;
  }
}
.layout--sidebar--title {
  white-space: nowrap;
}
